
.postTextFieldButton {
    justify-content: center;
    display: grid;
    margin-bottom: 30px;
}

.innerContainerPost {
    width: fit-content;
    position: relative;
}

.postButton {
    position: absolute ;
    right: 1.5% ;
}

.editButtonGroup {
    position: absolute !important;
    left: 1.5% !important;
}