.mainFooter {
    background-color: #143059;
}

.row {
    color: white;
    width:100%;
    text-align: center;
}

.row p {
    text-align: center;
    margin-left: 2%;
    width: 100%;
    margin-top: 2%;
}

@media (max-width: 1000px){
    .row p {
        text-align: center;
        margin-top: 2%;
    }
}